part_docs/.$death_stick_wiring_diagram.drawio.bkp

# ignore esp-idf installation in .espressif
.espressif/
# Ignore the examples in the software/ESP32-S3-Touch-LCD-1.47-Demo
software/ESP32-S3-Touch-LCD-1.47-Demo/*
software/flash_download_tool_3.9.7/*